pywin32==228
fastapi
sqlalchemy
pymongo
pydantic
httpx
nbformat
scikit-learn
pusher
uvicorn
pandas
pyodbc
python-dotenv
fastapi
sqlalchemy
pymongo
pydantic
httpx
nbformat
scikit-learn
matplotlib
pusher
uvicorn
pandas
pyodbc
python-dotenv
annotated-types           
anyio                     
attrs                     
certifi                   
cffi                      
charset-normalizer        
click                     
colorama                  
cryptography              
dnspython                 
fastapi                   
fastjsonschema            
greenlet                  
h11                       
httpcore                  
httpx                     
idna                      
jsonschema                
jsonschema-specifications 
jupyter_core              
nbformat                  
ndg-httpsclient           
numpy                     
pandas                    
pip                       
platformdirs              
pusher                    
pyasn1                    
pycparser                 
pydantic                  
pydantic_core             
pymongo                   
PyNaCl                    
pyodbc                    
pyOpenSSL                 
python-dateutil           
python-multipart          
pytz                      
pywin32                   
referencing               
requests                  
rpds-py                   
setuptools                
six                       
sniffio                   
SQLAlchemy                
starlette                 
traitlets                 
typing_extensions         
tzdata                    
urllib3                   
uvicorn 
