fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
pymongo
httpx
pusher
nbformat
pandas
scikit-learn
matplotlib
aiofiles
tornado
pytest
fastapi
sqlalchemy
python-multipart
pymongo
pydantic
httpx
nbformat
pusher
uvicorn
pandas
pyodbc
